<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_side_walk_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>68</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>68</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>78</integer>
                <key>x</key>
                <integer>86</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>dog_side_walk_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>66</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>68</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>80</integer>
                <key>x</key>
                <integer>166</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>dog_side_walk_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>68</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>68</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>dog_side_walk_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>66</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>68</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>78</integer>
                <key>x</key>
                <integer>248</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>DogWalk.png</string>
            <key>size</key>
            <string>{328,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14cb4a2a7b5f85aaafff51067ecfd80:21648285eeb5f23b2bda19f92cd87bea:462846c7ca1f732b2ab5351ea0dce4ac$</string>
            <key>textureFileName</key>
            <string>DogWalk.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>72</integer>
            <key>width</key>
            <integer>328</integer>
        </dict>
    </dict>
</plist>
