<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Story_end_scene01_0000_Layer-Comp-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{1300,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Story_end_scene01_0000_Layer-Comp-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1303,1},{1300,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Story_end_scene01_0001_Layer-Comp-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1,703},{1300,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EndMovieAnim0.png</string>
            <key>size</key>
            <string>{2004,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c62d13a70e662ed13957bad11228bb1:004c77f90aac0626906e28d95997bbc8:11174110d13bbe6268f21313a3b4d3f9$</string>
            <key>textureFileName</key>
            <string>EndMovieAnim0.png</string>
        </dict>
    </dict>
</plist>
