<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_stand_01.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>82</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boy_stand_02.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>82</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>86</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boy_stand_03.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>82</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>86</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boy_stand_04.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>82</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>170</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boy_stand_05.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>82</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boy_stand_06.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>82</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>254</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boy_stand_07.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>82</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>FoxIdle1.png</string>
            <key>size</key>
            <string>{422,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db89160315d33ebc31f744f7333fecaa:974a2da23e56eeca7980a8a23af13b11:380bf89dcd2f663b72405799cdb52507$</string>
            <key>textureFileName</key>
            <string>FoxIdle1.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>122</integer>
            <key>width</key>
            <integer>422</integer>
        </dict>
    </dict>
</plist>
