<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Transform_man_01.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>82</integer>
                <key>x</key>
                <integer>166</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Transform_man_02.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>328</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Transform_man_03.png</key>
            <dict>
                <key>height</key>
                <integer>126</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>72</integer>
                <key>x</key>
                <integer>264</integer>
                <key>y</key>
                <integer>126</integer>
            </dict>
            <key>Transform_man_04.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>72</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>122</integer>
            </dict>
            <key>Transform_man_05.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>406</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Transform_man_06.png</key>
            <dict>
                <key>height</key>
                <integer>122</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>250</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Transform_man_07.png</key>
            <dict>
                <key>height</key>
                <integer>138</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>80</integer>
                <key>x</key>
                <integer>484</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Transform_man_08.png</key>
            <dict>
                <key>height</key>
                <integer>110</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>146</integer>
                <key>y</key>
                <integer>128</integer>
            </dict>
            <key>Transform_man_09.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>142</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>128</integer>
            </dict>
            <key>Transform_man_10.png</key>
            <dict>
                <key>height</key>
                <integer>124</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>162</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Transform_man_11.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>412</integer>
                <key>y</key>
                <integer>118</integer>
            </dict>
            <key>Transform_man_12.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>4</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>144</integer>
                <key>originalWidth</key>
                <integer>172</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>482</integer>
                <key>y</key>
                <integer>142</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>FoxInTrap.png</string>
            <key>size</key>
            <string>{566,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:245aef784a6cf7e432439eef8d6a8c83:8350c431ea4a01e7f17482e32e21e9d1:be5ebc8f3bb28bf91a9826a593128af5$</string>
            <key>textureFileName</key>
            <string>FoxInTrap.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>254</integer>
            <key>width</key>
            <integer>566</integer>
        </dict>
    </dict>
</plist>
