<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_boy_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{145,141}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{145,141}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{145,137}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{145,137}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{145,141}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{145,141}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{145,141}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{145,141}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{145,141}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{145,141}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{145,141}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{145,141}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{145,141}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{145,141}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,141}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{153,141}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,2},{153,133}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{153,133}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{153,133}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{153,133}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_boy_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{153,141}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{153,141}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxTutorAnim.png</string>
            <key>size</key>
            <string>{1651,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b7f5f148e81c011a18f300eba1266c1:352f7aa17ffc9a15deb3d25f5b4fd8ad:aedc81d1954f18e07abe2eb985ad9a30$</string>
            <key>textureFileName</key>
            <string>FoxTutorAnim.png</string>
        </dict>
    </dict>
</plist>
