<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunter_without_side_die_0000_Layer-Comp-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-20}</string>
                <key>spriteSize</key>
                <string>{68,130}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{85,293},{68,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_side_die_0001_Layer-Comp-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-20}</string>
                <key>spriteSize</key>
                <string>{68,130}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{1,333},{68,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_side_die_0002_Layer-Comp-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{64,156}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{85,1},{64,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_side_die_0003_Layer-Comp-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59.5,92.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{71,333},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_side_die_0004_Layer-Comp-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{82,166}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_side_die_0005_Layer-Comp-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59.5,92.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{71,333},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_side_die_0006_Layer-Comp-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{82,162}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{1,169},{82,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_side_die_0007_Layer-Comp-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{68,132}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{85,159},{68,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_side_die_0008_Layer-Comp-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59.5,92.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{122,188}</string>
                <key>textureRect</key>
                <string>{{71,333},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HunterWithoutDieSide.png</string>
            <key>size</key>
            <string>{154,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:145136bbd7b1978733e40f66a8e7fa32:83f7007d78ddaa8f08ce75663d84375c:83a2fd73051243bc47ceeace2b08b62c$</string>
            <key>textureFileName</key>
            <string>HunterWithoutDieSide.png</string>
        </dict>
    </dict>
</plist>
