<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunter_without_walk_side_0000_Layer-Comp-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{72,132}</string>
                <key>spriteSourceSize</key>
                <string>{86,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_walk_side_0001_Layer-Comp-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{86,134}</string>
                <key>textureRect</key>
                <string>{{1,135},{70,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunter_without_walk_side_0002_Layer-Comp-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{72,132}</string>
                <key>spriteSourceSize</key>
                <string>{86,134}</string>
                <key>textureRect</key>
                <string>{{133,71},{72,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_walk_side_0003_Layer-Comp-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{68,130}</string>
                <key>spriteSourceSize</key>
                <string>{86,134}</string>
                <key>textureRect</key>
                <string>{{75,1},{68,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HunterWithoutWalkSide.png</string>
            <key>size</key>
            <string>{206,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef18d763ceef5922a2fdc4d53f44847:5a6103ae3bba6aff70745cf457e529ff:c7287d3f639368c7a0ca44fde21a43a1$</string>
            <key>textureFileName</key>
            <string>HunterWithoutWalkSide.png</string>
        </dict>
    </dict>
</plist>
