<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunter_front_die_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{70,134}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{70,134}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
            <key>hunter_front_die_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{70,134}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{70,134}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
            <key>hunter_front_die_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{70,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{70,166}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
            <key>hunter_front_die_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,170},{1,1}}</string>
                <key>offset</key>
                <string>{-46.5,92.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
            <key>hunter_front_die_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{88,176}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,176}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
            <key>hunter_front_die_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,170},{1,1}}</string>
                <key>offset</key>
                <string>{-46.5,92.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
            <key>hunter_front_die_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,166}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{92,166}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
            <key>hunter_front_die_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{70,134}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{70,134}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
            <key>hunter_front_die_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,170},{1,1}}</string>
                <key>offset</key>
                <string>{-46.5,92.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{94,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HunterDieFront.png</string>
            <key>size</key>
            <string>{96,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee12fdf49341b873ea949ff1956dc17d:2fd8810f3f5f63fd71033f0ffe3b6b9f:d77a7f67d17d02c16be66b16b9e4735c$</string>
            <key>textureFileName</key>
            <string>HunterDieFront.png</string>
        </dict>
    </dict>
</plist>
