<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunter_back_die_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{72,134}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{72,134}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
            <key>hunter_back_die_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{72,134}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{72,134}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
            <key>hunter_back_die_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{72,152}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{72,152}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
            <key>hunter_back_die_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,344},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,94.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
            <key>hunter_back_die_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,170}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{90,170}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
            <key>hunter_back_die_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,344},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,94.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
            <key>hunter_back_die_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{90,168}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{90,168}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
            <key>hunter_back_die_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{72,134}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{72,134}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
            <key>hunter_back_die_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,344},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,94.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HunterDieBack.png</string>
            <key>size</key>
            <string>{94,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e89bd6d9aa8909f691af9a4924095be:46a21dcd034a0ebf3e0edf4daf0e829c:6f95dd0b5b5b6cd7ca3f626dec7e600d$</string>
            <key>textureFileName</key>
            <string>HunterDieBack.png</string>
        </dict>
    </dict>
</plist>
