<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunter_walk_side_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>134</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>270</integer>
            </dict>
            <key>hunter_walk_side_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>132</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hunter_walk_side_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>134</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>406</integer>
            </dict>
            <key>hunter_walk_side_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>132</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>80</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>136</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>HunterWalkSide.png</string>
            <key>size</key>
            <string>{90,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c2292ce5ce1e953abd86b10124e0efb:ed3ca8b45e1efed3ab16594706876bb5:901605a5ee8a96f814f1aa172d9f1459$</string>
            <key>textureFileName</key>
            <string>HunterWalkSide.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>542</integer>
            <key>width</key>
            <integer>90</integer>
        </dict>
    </dict>
</plist>
