<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_anim_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>46</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-20</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>184</integer>
            </dict>
            <key>star_anim_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>46</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-20</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>232</integer>
            </dict>
            <key>star_anim_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>46</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-20</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>280</integer>
            </dict>
            <key>star_anim_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>46</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-20</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>328</integer>
            </dict>
            <key>star_anim_0004_Layer-Comp-5.png</key>
            <dict>
                <key>height</key>
                <integer>46</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-20</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>376</integer>
            </dict>
            <key>star_anim_0005_Layer-Comp-6.png</key>
            <dict>
                <key>height</key>
                <integer>46</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-20</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>424</integer>
            </dict>
            <key>star_anim_0006_Layer-Comp-7.png</key>
            <dict>
                <key>height</key>
                <integer>52</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>130</integer>
            </dict>
            <key>star_anim_0007_Layer-Comp-8.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-13</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>68</integer>
            </dict>
            <key>star_anim_0008_Layer-Comp-9.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-11</real>
                <key>originalHeight</key>
                <integer>90</integer>
                <key>originalWidth</key>
                <integer>52</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>LevelStarBegin.png</string>
            <key>size</key>
            <string>{52,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60579e6a9297b5e3809beb5b9901c06e:65800c5bc8d98005453ad46d5de47a94:f6c25c55986f9a2edf4679f0719dfa55$</string>
            <key>textureFileName</key>
            <string>LevelStarBegin.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>472</integer>
            <key>width</key>
            <integer>52</integer>
        </dict>
    </dict>
</plist>
