<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jungle_anim_01_0000_Layer-Comp-1-3.png</key>
            <dict>
                <key>height</key>
                <integer>96</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>110</integer>
                <key>originalWidth</key>
                <integer>112</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>jungle_anim_01_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>96</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>110</integer>
                <key>originalWidth</key>
                <integer>112</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>108</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>jungle_anim_01_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>96</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>110</integer>
                <key>originalWidth</key>
                <integer>112</integer>
                <key>width</key>
                <integer>104</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>palmAnimation.png</string>
            <key>size</key>
            <string>{320,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:711b4588587c188bf59653e5295d275a:4e22b0a7a44209596319d39db7c02b6c:67644275c6bc1e20335917a45d96b2b1$</string>
            <key>textureFileName</key>
            <string>palmAnimation.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>100</integer>
            <key>width</key>
            <integer>320</integer>
        </dict>
    </dict>
</plist>
