<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>save_baby_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>1500</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>116</integer>
                <key>offsetX</key>
                <real>-16</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>102</integer>
                <key>x</key>
                <integer>1396</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>-16</real>
                <key>offsetY</key>
                <real>-12</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>102</integer>
                <key>x</key>
                <integer>1166</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>-8</real>
                <key>offsetY</key>
                <real>-12</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>120</integer>
                <key>x</key>
                <integer>1044</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0004_Layer-Comp-5.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>-9</real>
                <key>offsetY</key>
                <real>-12</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>134</integer>
                <key>x</key>
                <integer>908</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0005_Layer-Comp-6.png</key>
            <dict>
                <key>height</key>
                <integer>142</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>138</integer>
                <key>x</key>
                <integer>474</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0006_Layer-Comp-7.png</key>
            <dict>
                <key>height</key>
                <integer>146</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>142</integer>
                <key>x</key>
                <integer>182</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0007_Layer-Comp-8.png</key>
            <dict>
                <key>height</key>
                <integer>144</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>146</integer>
                <key>x</key>
                <integer>326</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0008_Layer-Comp-9.png</key>
            <dict>
                <key>height</key>
                <integer>138</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>138</integer>
                <key>x</key>
                <integer>768</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0009_Layer-Comp-10.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>-8</real>
                <key>offsetY</key>
                <real>-9</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>124</integer>
                <key>x</key>
                <integer>1270</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0010_Layer-Comp-11.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>-9</real>
                <key>offsetY</key>
                <real>-11</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>102</integer>
                <key>x</key>
                <integer>1586</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0011_Layer-Comp-12.png</key>
            <dict>
                <key>height</key>
                <integer>166</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>178</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0012_Layer-Comp-13.png</key>
            <dict>
                <key>height</key>
                <integer>140</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>152</integer>
                <key>x</key>
                <integer>614</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0013_Layer-Comp-14 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0013_Layer-Comp-14 copy.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0013_Layer-Comp-14.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0014_Layer-Comp-15 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>86</integer>
            </dict>
            <key>save_baby_0014_Layer-Comp-15 copy.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>86</integer>
            </dict>
            <key>save_baby_0014_Layer-Comp-15.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>86</integer>
            </dict>
            <key>save_baby_0015_Layer-Comp-16 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1752</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0015_Layer-Comp-16 copy.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1752</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0015_Layer-Comp-16.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1752</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0016_Layer-Comp-17 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0016_Layer-Comp-17 copy.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0016_Layer-Comp-17.png</key>
            <dict>
                <key>height</key>
                <integer>82</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1690</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0017_Layer-Comp-18 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1752</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0017_Layer-Comp-18 copy.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1752</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>save_baby_0017_Layer-Comp-18.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>166</integer>
                <key>originalWidth</key>
                <integer>178</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>1752</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>SaveBaby.png</string>
            <key>size</key>
            <string>{1814,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ffbd7ad169d7824c7efddedbe744375:e84e62f79763ec8f52be22638f87f95a:a31bd706b5c62fafd832e189ef9a9856$</string>
            <key>textureFileName</key>
            <string>SaveBaby.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>170</integer>
            <key>width</key>
            <integer>1814</integer>
        </dict>
    </dict>
</plist>
