<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tornado_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{94,108}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{94,108}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{90,102}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{90,102}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{84,102}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{84,102}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{104,100}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{104,100}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{88,100}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,100}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,114}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{104,114}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TornadoAnimation.png</string>
            <key>size</key>
            <string>{598,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5da7234a7e0c8f1b5e147f034a1312a:43c09de3e839aea89a2df7cd65a5ee43:0847cbe3299645e94decdb69742f8de6$</string>
            <key>textureFileName</key>
            <string>TornadoAnimation.png</string>
        </dict>
    </dict>
</plist>
