<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baby_1 copy.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_1.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_2.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>88</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_3.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>174</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_4.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_5 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>346</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_5 copy.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>346</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_5.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>346</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>BabyIdle1.png</string>
            <key>size</key>
            <string>{432,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af6fc5987481df42ae70a93bac72fa29:4f99f522bc5e9413811daf8b27bc35ad:c480133c2157177fabe5d521c0e69790$</string>
            <key>textureFileName</key>
            <string>BabyIdle1.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>108</integer>
            <key>width</key>
            <integer>432</integer>
        </dict>
    </dict>
</plist>
