<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baby_idle_1.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_2 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>88</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_2 copy.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>88</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_2.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>88</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_3 copy.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_3.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_4 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>174</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_4 copy 3.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>174</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_4 copy 4.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>174</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_4 copy 5.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>174</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_4 copy.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>174</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_4.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>174</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_5 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_5 copy 3.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_5 copy 4.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_5 copy 5.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_5 copy.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_5.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_6 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_6 copy 3.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_6 copy 4.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_6 copy 5.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_6 copy.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>baby_idle_6.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>84</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>BabyIdle2.png</string>
            <key>size</key>
            <string>{346,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9284ce31c30a8d513e904e9c7c009a3d:eb60eceafa557b496d4e5cbdab926ff4:170b3d9539307daab190c6396c1b4e07$</string>
            <key>textureFileName</key>
            <string>BabyIdle2.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>108</integer>
            <key>width</key>
            <integer>346</integer>
        </dict>
    </dict>
</plist>
