<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,272},{16,16}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{16,16}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
            <key>net_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,238},{18,32}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{18,32}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
            <key>net_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,194},{26,42}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{26,42}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
            <key>net_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{30,54}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{30,54}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
            <key>net_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{38,74}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{38,74}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
            <key>net_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{32,82}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{32,82}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
            <key>net_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{36,90}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{36,90}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
            <key>net_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{58,98}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BulletAnimation.png</string>
            <key>size</key>
            <string>{64,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:467bb55a9a666d2f4db1b7320a5f8c38:093719966cace544deb9d1e6e52d634c:a1ca157c415247bb92dc395a54dda765$</string>
            <key>textureFileName</key>
            <string>BulletAnimation.png</string>
        </dict>
    </dict>
</plist>
