<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net_top_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,42},{16,16}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{16,16}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>net_top_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{32,18}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,44},{32,18}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>net_top_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{42,26}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{42,26}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>net_top_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{54,30}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,32},{54,30}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>net_top_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{74,38}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{74,38}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>net_top_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,32}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{82,32}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BulletTopAnimation.png</string>
            <key>size</key>
            <string>{194,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3b2e1b9454b753edd93a98f81b4b0fe:05dda6370f37e8853570ac009d4b2196:1d7355fd49caa632c03f8b5262a3bdce$</string>
            <key>textureFileName</key>
            <string>BulletTopAnimation.png</string>
        </dict>
    </dict>
</plist>
