<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_room_entrance_01_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>106</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>112</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>bonus_room_entrance_01_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>106</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>112</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>94</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>bonus_room_entrance_01_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>102</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>112</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>278</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>bonus_room_entrance_01_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>106</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>112</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>90</integer>
                <key>x</key>
                <integer>186</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Bush2Entrance.png</string>
            <key>size</key>
            <string>{370,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:316367f3f86a6d2cff89bfb997d69c2e:466f3617a9d4c60de1199d642b71c5b9:378b5f804453b4b555a0ee45e8976b2e$</string>
            <key>textureFileName</key>
            <string>Bush2Entrance.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>110</integer>
            <key>width</key>
            <integer>370</integer>
        </dict>
    </dict>
</plist>
