<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_anim_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,82},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,82},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,162},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,82},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>box_anim_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,162},{72,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{72,78}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChestBonus.png</string>
            <key>size</key>
            <string>{224,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a09eb33a99f08746769c2951e9032a9:474c28eebb94589b1638c32af20a379a:dcc114f333392832283db09d92626c4d$</string>
            <key>textureFileName</key>
            <string>ChestBonus.png</string>
        </dict>
    </dict>
</plist>
