<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Barking_short_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>66</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>78</integer>
                <key>x</key>
                <integer>84</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Barking_short_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>84</integer>
                <key>x</key>
                <integer>164</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Barking_short_0002_Layer-Comp-3 copy.png</key>
            <dict>
                <key>height</key>
                <integer>66</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>80</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Barking_short_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>66</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>80</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>DogBark.png</string>
            <key>size</key>
            <string>{250,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c176a5d09ef417e9e170944ab7d4a2ab:41f245883f8295ab1b2ebf0d2d138d4a:769ecd5542d78845efbb2cc30f9ee4b5$</string>
            <key>textureFileName</key>
            <string>DogBark.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>70</integer>
            <key>width</key>
            <integer>250</integer>
        </dict>
    </dict>
</plist>
