<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_track_back__0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>70</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>66</integer>
            </dict>
            <key>dog_track_back__0004_Layer-Comp-5-7-9-11.png</key>
            <dict>
                <key>height</key>
                <integer>62</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>70</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>dog_track_back__0005_Layer-Comp-6-10.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>70</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>124</integer>
            </dict>
            <key>dog_track_back__0007_Layer-Comp-8-12.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>70</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>42</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>186</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>DogPlayerFollowBack.png</string>
            <key>size</key>
            <string>{50,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcbd4b83e5f00ef5e6285a3f7106c74e:6bdd4a94ffb8f2ff3ad97faf75b659ac:01093c8794eccaa68cde7d9b1c06e9cb$</string>
            <key>textureFileName</key>
            <string>DogPlayerFollowBack.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>248</integer>
            <key>width</key>
            <integer>50</integer>
        </dict>
    </dict>
</plist>
