<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dog_Track_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>74</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>98</integer>
                <key>y</key>
                <integer>62</integer>
            </dict>
            <key>Dog_Track_0004_Layer-Comp-5.png</key>
            <dict>
                <key>height</key>
                <integer>62</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>74</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Dog_Track_0005_Layer-Comp-6.png</key>
            <dict>
                <key>height</key>
                <integer>58</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>74</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>98</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Dog_Track_0006_Layer-Comp-7.png</key>
            <dict>
                <key>height</key>
                <integer>62</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>74</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Dog_Track_0007_Layer-Comp-8.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>74</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>66</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>DogPlayerFollow.png</string>
            <key>size</key>
            <string>{194,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b02e68b146ec13e87e59f99245545b27:fcc183ab216d5410daeffeac7bcc4bfd:ae5e871f864b8a0a109009b67418da25$</string>
            <key>textureFileName</key>
            <string>DogPlayerFollow.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>124</integer>
            <key>width</key>
            <integer>194</integer>
        </dict>
    </dict>
</plist>
