<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_dog_anim_back_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>92</integer>
                <key>originalWidth</key>
                <integer>45</integer>
                <key>width</key>
                <integer>43</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>run_dog_anim_back_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>58</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-16</real>
                <key>originalHeight</key>
                <integer>92</integer>
                <key>originalWidth</key>
                <integer>45</integer>
                <key>width</key>
                <integer>43</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>322</integer>
            </dict>
            <key>run_dog_anim_back_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>76</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>92</integer>
                <key>originalWidth</key>
                <integer>45</integer>
                <key>width</key>
                <integer>43</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>182</integer>
            </dict>
            <key>run_dog_anim_back_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>90</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>92</integer>
                <key>originalWidth</key>
                <integer>45</integer>
                <key>width</key>
                <integer>43</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>run_dog_anim_back_0004_Layer-Comp-5.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>92</integer>
                <key>originalWidth</key>
                <integer>45</integer>
                <key>width</key>
                <integer>43</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>94</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>DogRunBack.png</string>
            <key>size</key>
            <string>{47,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00ea7ff1c29d89d5d429ae9e53111afa:bf52cb9a9fe828fe5f9aa68497500a6a:229afc6bf2e567c8fb92806eacc44251$</string>
            <key>textureFileName</key>
            <string>DogRunBack.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>382</integer>
            <key>width</key>
            <integer>47</integer>
        </dict>
    </dict>
</plist>
