<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_front_walk_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>66</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>dog_front_walk_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>204</integer>
            </dict>
            <key>dog_front_walk_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>66</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>136</integer>
            </dict>
            <key>dog_front_walk_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>66</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>70</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>DogWalkFront.png</string>
            <key>size</key>
            <string>{50,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:224763ebaa636dc4127519845076f4fb:2ad004ec3f45b140f5121c10ad64c3ad:692f5db62dc39a3d302bda8c5481ec98$</string>
            <key>textureFileName</key>
            <string>DogWalkFront.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>270</integer>
            <key>width</key>
            <integer>50</integer>
        </dict>
    </dict>
</plist>
