<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Story_end_scene02_0000_Layer-Comp-1 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{1300,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Story_end_scene02_0000_Layer-Comp-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{1300,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Story_end_scene02_0001_Layer-Comp-2 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1303,1},{1300,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Story_end_scene02_0001_Layer-Comp-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1303,1},{1300,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Story_end_scene02_0002_Layer-Comp-3 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1,703},{1300,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Story_end_scene02_0002_Layer-Comp-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,700}</string>
                <key>spriteSourceSize</key>
                <string>{1300,700}</string>
                <key>textureRect</key>
                <string>{{1,703},{1300,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EndMovieAnim20.png</string>
            <key>size</key>
            <string>{2004,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd71b06fafc93d75df54b224cc8a32a7:340744132881207665153b83fce59431:1003e733f7517f32ca6439f5fed44c75$</string>
            <key>textureFileName</key>
            <string>EndMovieAnim20.png</string>
        </dict>
    </dict>
</plist>
