<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_boy_stand_0000_Layer-Comp-1 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>back_boy_stand_0000_Layer-Comp-1 copy.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>back_boy_stand_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>back_boy_stand_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>80</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>back_boy_stand_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>118</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>FoxBackIdle1.png</string>
            <key>size</key>
            <string>{158,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:223c9393e88af8a1699fd290331536b4:a4c54dbeba08d9c880a57371fd85cf6f:b53b0b021fd1fb1e15cd62fa460070a8$</string>
            <key>textureFileName</key>
            <string>FoxBackIdle1.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>122</integer>
            <key>width</key>
            <integer>158</integer>
        </dict>
    </dict>
</plist>
