<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blow_man_front_00010_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,160}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{102,160}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_man_front_0008_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{94,136}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{94,136}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_man_front_0009_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{92,148}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,16},{92,148}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxFightFront.png</string>
            <key>size</key>
            <string>{106,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:686682eb3a838cbeeb49e7fe827690a0:0b67f6239757252bd4f1ff62c8ad9bbd:137d844a804b1c07d51a83e46e8d59b8$</string>
            <key>textureFileName</key>
            <string>FoxFightFront.png</string>
        </dict>
    </dict>
</plist>
