<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blow_man_back_00010_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,126}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,6},{100,126}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_man_back_0008_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{96,118}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,14},{96,118}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_man_back_0009_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{94,118}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,16},{94,118}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxFightBack.png</string>
            <key>size</key>
            <string>{104,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ae4631621d8f77fbde865a804e59b0:229e8950662fe9a6f11fb11bc8db6efe:ea8a508abfc1de0e1fe0d7d6019efaef$</string>
            <key>textureFileName</key>
            <string>FoxFightBack.png</string>
        </dict>
    </dict>
</plist>
