<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blow_girl_front_00010_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,160}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{100,160}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_front_0008_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{86,132}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{86,132}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_front_0009_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{84,144}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{84,144}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlFightFront.png</string>
            <key>size</key>
            <string>{104,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9a07b06a49d679c445bd2619902397a:0eab22dd323ffa5ddc9069673cb25244:afce34e4753c2f7193a597a1d4d779f4$</string>
            <key>textureFileName</key>
            <string>FoxGirlFightFront.png</string>
        </dict>
    </dict>
</plist>
