<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_girl_left_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,116}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlInCageForestLeftEnd.png</string>
            <key>size</key>
            <string>{230,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c5352e6f1f77eb2414b199cd56c646d:b71fe1bc6b49f754f8fb284ccfe824ae:ede79cbc642908eb7b22ba9de8459000$</string>
            <key>textureFileName</key>
            <string>FoxGirlInCageForestLeftEnd.png</string>
        </dict>
    </dict>
</plist>
