<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_forest_girl_0010_Layer-Comp-11 copy.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>trap_forest_girl_0010_Layer-Comp-11.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>trap_forest_girl_0011_Layer-Comp-12 copy.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>trap_forest_girl_0011_Layer-Comp-12.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlInCageLeftEnd.png</string>
            <key>size</key>
            <string>{238,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e62a6d090fbfe835a197f135bf1b5ad:b3c2eed8e224becc7d4d77c748a899a7:41c39deadf698e781144e69dbefd6a7e$</string>
            <key>textureFileName</key>
            <string>FoxGirlInCageLeftEnd.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>121</integer>
            <key>width</key>
            <integer>238</integer>
        </dict>
    </dict>
</plist>
