<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_catch_top_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{102,158}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,1},{102,158}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,160},{112,156}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{112,156}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0002_Layer-Comp-3 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{104,156}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,1},{104,156}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{104,156}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,1},{104,156}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0003_Layer-Comp-4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,466},{124,126}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{124,126}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,466},{124,126}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{124,126}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0004_Layer-Comp-5 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{130,138}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{130,138}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{130,138}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{130,138}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0005_Layer-Comp-6 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,318},{124,146}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{124,146}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,318},{124,146}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{124,146}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0006_Layer-Comp-7 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{126,148}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{126,148}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{126,148}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{126,148}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0007_Layer-Comp-8 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,144}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{146,144}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,144}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{146,144}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0008_Layer-Comp-9 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{148,130}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{148,130}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{148,130}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{148,130}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0009_Layer-Comp-10 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,594},{120,78}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{120,78}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,594},{120,78}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{120,78}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0010_Layer-Comp-11 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,674},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,674},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0011_Layer-Comp-12 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,594},{120,78}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{120,78}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>girl_catch_top_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,594},{120,78}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{120,78}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlInNetTopAnimation.png</string>
            <key>size</key>
            <string>{256,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:304c55c1db60755ec05638d378498edd:395118f6cb82018db7db922f50d85df4:ee39db6c99460127308b0802736e6775$</string>
            <key>textureFileName</key>
            <string>FoxGirlInNetTopAnimation.png</string>
        </dict>
    </dict>
</plist>
