<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_girl_right_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,116}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlInCageForestRightEnd.png</string>
            <key>size</key>
            <string>{230,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4a2d257896686a6c0603393cdca67b1:e85ba34d488fdfd3ea891fc006426b06:59b917f0b564acc0b099b1b4b43d9b74$</string>
            <key>textureFileName</key>
            <string>FoxGirlInCageForestRightEnd.png</string>
        </dict>
    </dict>
</plist>
