<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_girl_stand_0000_Layer-Comp-1 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>62</integer>
                <key>width</key>
                <integer>62</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>back_girl_stand_0000_Layer-Comp-1 copy.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>62</integer>
                <key>width</key>
                <integer>62</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>back_girl_stand_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>62</integer>
                <key>width</key>
                <integer>62</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>back_girl_stand_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>118</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>62</integer>
                <key>width</key>
                <integer>62</integer>
                <key>x</key>
                <integer>66</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>back_girl_stand_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>62</integer>
                <key>width</key>
                <integer>62</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlBackIdle1.png</string>
            <key>size</key>
            <string>{130,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd222dac8b264a8d5daf8270b49a0b5:d3c3347ce7e1f70aace043070e2ebfaa:cfa53f836c104a857825d855ff9ccb54$</string>
            <key>textureFileName</key>
            <string>FoxGirlBackIdle1.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>124</integer>
            <key>width</key>
            <integer>130</integer>
        </dict>
    </dict>
</plist>
