<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_girl_right_vulcano_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,112},{108,122}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{108,122}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,112},{108,122}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{108,122}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,120},{108,126}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,43},{108,126}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{108,128}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,43},{108,128}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,112},{108,118}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,53},{108,118}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{108,144}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{108,144}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{108,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{108,162}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{116,164}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{116,164}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{142,152}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{142,152}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,138}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{160,138}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,146},{108,106}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{108,106}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_right_vulcano_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,146},{108,106}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{108,106}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlInCageVulcanoRight.png</string>
            <key>size</key>
            <string>{842,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0cdb5d7306b2108923d553100a0d428:be6ec5d8533de9be9ff9a0333253ac22:3b123716d3a8814240eae2750a962611$</string>
            <key>textureFileName</key>
            <string>FoxGirlInCageVulcanoRight.png</string>
        </dict>
    </dict>
</plist>
