<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_stand_02_big_cut_0000_Layer-Comp-1 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0000_Layer-Comp-1 copy.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0001_Layer-Comp-2 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>236</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0001_Layer-Comp-2 copy.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>236</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>236</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>80</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0004_Layer-Comp-5.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0005_Layer-Comp-6 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>314</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0005_Layer-Comp-6 copy.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>314</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0005_Layer-Comp-6.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>314</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0006_Layer-Comp-7 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0006_Layer-Comp-7 copy.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0006_Layer-Comp-7.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0007_Layer-Comp-8 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>236</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0007_Layer-Comp-8 copy.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>236</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>girl_stand_02_big_cut_0007_Layer-Comp-8.png</key>
            <dict>
                <key>height</key>
                <integer>114</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>120</integer>
                <key>originalWidth</key>
                <integer>76</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>236</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlIdle2.png</string>
            <key>size</key>
            <string>{392,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e6a4543358acd43a54db5f8ba781380:4754528948f81c9a8e5d295b7d062371:fcf6873119fd40fac6bcc382b632ee8d$</string>
            <key>textureFileName</key>
            <string>FoxGirlIdle2.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>124</integer>
            <key>width</key>
            <integer>392</integer>
        </dict>
    </dict>
</plist>
