<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_forest_girl_r_0000_Layer-Comp-1 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>121</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>713</integer>
            </dict>
            <key>trap_forest_girl_r_0000_Layer-Comp-1 copy 3.png</key>
            <dict>
                <key>height</key>
                <integer>121</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>713</integer>
            </dict>
            <key>trap_forest_girl_r_0000_Layer-Comp-1 copy 4.png</key>
            <dict>
                <key>height</key>
                <integer>121</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>713</integer>
            </dict>
            <key>trap_forest_girl_r_0000_Layer-Comp-1 copy.png</key>
            <dict>
                <key>height</key>
                <integer>121</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>713</integer>
            </dict>
            <key>trap_forest_girl_r_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>121</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>713</integer>
            </dict>
            <key>trap_forest_girl_r_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>121</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>727</integer>
            </dict>
            <key>trap_forest_girl_r_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>125</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-20</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>586</integer>
            </dict>
            <key>trap_forest_girl_r_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>127</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-21</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>457</integer>
            </dict>
            <key>trap_forest_girl_r_0004_Layer-Comp-5.png</key>
            <dict>
                <key>height</key>
                <integer>125</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-22</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>600</integer>
            </dict>
            <key>trap_forest_girl_r_0005_Layer-Comp-6.png</key>
            <dict>
                <key>height</key>
                <integer>143</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>455</integer>
            </dict>
            <key>trap_forest_girl_r_0006_Layer-Comp-7.png</key>
            <dict>
                <key>height</key>
                <integer>163</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>292</integer>
            </dict>
            <key>trap_forest_girl_r_0007_Layer-Comp-8.png</key>
            <dict>
                <key>height</key>
                <integer>161</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>292</integer>
            </dict>
            <key>trap_forest_girl_r_0008_Layer-Comp-9.png</key>
            <dict>
                <key>height</key>
                <integer>151</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>142</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>139</integer>
            </dict>
            <key>trap_forest_girl_r_0009_Layer-Comp-10.png</key>
            <dict>
                <key>height</key>
                <integer>135</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-9</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>162</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>trap_forest_girl_r_0010_Layer-Comp-11 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>836</integer>
            </dict>
            <key>trap_forest_girl_r_0010_Layer-Comp-11 copy 3.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>836</integer>
            </dict>
            <key>trap_forest_girl_r_0010_Layer-Comp-11 copy 4.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>836</integer>
            </dict>
            <key>trap_forest_girl_r_0010_Layer-Comp-11 copy.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>836</integer>
            </dict>
            <key>trap_forest_girl_r_0010_Layer-Comp-11.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>836</integer>
            </dict>
            <key>trap_forest_girl_r_0011_Layer-Comp-12.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>173</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>850</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlInCageRight.png</string>
            <key>size</key>
            <string>{238,969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14a6fbf8352341adfcdc7c8cfc72e968:4cd95f195846624607f7b1cecf128ba8:bfabb4f5183d8c4278515aff9c289c4c$</string>
            <key>textureFileName</key>
            <string>FoxGirlInCageRight.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>969</integer>
            <key>width</key>
            <integer>238</integer>
        </dict>
    </dict>
</plist>
