<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blow_girl_side_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{76,120}}</string>
                <key>offset</key>
                <string>{30,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,14},{76,120}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{62,112}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,22},{62,112}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{62,100}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{62,100}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{78,114}}</string>
                <key>offset</key>
                <string>{31,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,20},{78,114}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{86,120}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,14},{86,120}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{74,122}}</string>
                <key>offset</key>
                <string>{27,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,12},{74,122}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{96,128}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,6},{96,128}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{90,122}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{90,122}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,120}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{98,120}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{114,118}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{114,118}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,124}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{130,124}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{68,120}}</string>
                <key>offset</key>
                <string>{24,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,14},{68,120}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0012_Layer-Comp-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{84,120}}</string>
                <key>offset</key>
                <string>{34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,14},{84,120}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0013_Layer-Comp-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{84,114}}</string>
                <key>offset</key>
                <string>{34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,20},{84,114}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0014_Layer-Comp-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{84,114}}</string>
                <key>offset</key>
                <string>{34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,20},{84,114}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0015_Layer-Comp-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{94,116}}</string>
                <key>offset</key>
                <string>{39,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,20},{94,116}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0016_Layer-Comp-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{78,120}}</string>
                <key>offset</key>
                <string>{31,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,14},{78,120}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>blow_girl_side_0017_Layer-Comp-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{72,120}}</string>
                <key>offset</key>
                <string>{28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,14},{72,120}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlFight.png</string>
            <key>size</key>
            <string>{1514,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d63916294aeb760f75fd210af5e8be3d:d5c3294cb77092e5397029cb15097070:d6ae4999a903607feb822758ac201388$</string>
            <key>textureFileName</key>
            <string>FoxGirlFight.png</string>
        </dict>
    </dict>
</plist>
