<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_girl_left_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,582},{112,120}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{112,120}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,704},{112,120}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{112,120}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{112,126}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{112,126}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{112,128}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{112,128}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,456},{112,124}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{112,124}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{112,126}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{112,126}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,290},{112,164}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{112,164}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{118,160}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{118,160}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{142,150}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{142,150}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,134}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{162,134}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{112,116}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
            <key>trap_girl_left_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,826},{112,116}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{166,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlInCageForestLeft.png</string>
            <key>size</key>
            <string>{236,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98efbfe23e6de290823066a24602202c:2fcb24f5e319b85adf1a3ec65f761656:c02555117fd0e4d6e5d3ffb0dffcd3a0$</string>
            <key>textureFileName</key>
            <string>FoxGirlInCageForestLeft.png</string>
        </dict>
    </dict>
</plist>
