<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_girl_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{113,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{113,145}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{117,133}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{117,133}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{113,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{113,145}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{113,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{113,145}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{113,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{113,145}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1321},{113,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{113,145}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{113,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{113,145}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,149}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{121,149}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{121,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{121,145}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{121,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{121,145}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>help_girl_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{121,149}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{121,149}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxGirlTutorAnim.png</string>
            <key>size</key>
            <string>{125,1468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b48f824463e3de69062026da8249f9:2a9d41eb699af8597256071645c8c3eb:794c11b909095f89d4b084468b1fdc72$</string>
            <key>textureFileName</key>
            <string>FoxGirlTutorAnim.png</string>
        </dict>
    </dict>
</plist>
