<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>man_catch_left_0009_Layer-Comp-10 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0010_Layer-Comp-11 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{120,74}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,86},{120,74}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{120,74}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,86},{120,74}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0011_Layer-Comp-12 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxInNetLeftEndAnimation.png</string>
            <key>size</key>
            <string>{124,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:091d5e5fde7992c2a5219d6d679099b3:403e8067e2190d1df6f021496462dbbd:6bdbdaab47c68e3b57faa8705e688387$</string>
            <key>textureFileName</key>
            <string>FoxInNetLeftEndAnimation.png</string>
        </dict>
    </dict>
</plist>
