<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_boy_left_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_0012_Layer-Comp-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxInCageForestLeftEnd.png</string>
            <key>size</key>
            <string>{230,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d875ea6c99729e3a41e64f2074df4895:3deab802adc24182940e8baa5e5bfc69:3e7f7a714243d707c1491e055928d879$</string>
            <key>textureFileName</key>
            <string>FoxInCageForestLeftEnd.png</string>
        </dict>
    </dict>
</plist>
