<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_forest_boy_r_0000_Layer-Comp-1 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>119</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>606</integer>
            </dict>
            <key>trap_forest_boy_r_0000_Layer-Comp-1 copy 3.png</key>
            <dict>
                <key>height</key>
                <integer>119</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>606</integer>
            </dict>
            <key>trap_forest_boy_r_0000_Layer-Comp-1 copy 4.png</key>
            <dict>
                <key>height</key>
                <integer>119</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>606</integer>
            </dict>
            <key>trap_forest_boy_r_0000_Layer-Comp-1 copy.png</key>
            <dict>
                <key>height</key>
                <integer>119</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>606</integer>
            </dict>
            <key>trap_forest_boy_r_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>119</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>606</integer>
            </dict>
            <key>trap_forest_boy_r_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>119</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>719</integer>
            </dict>
            <key>trap_forest_boy_r_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>119</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>727</integer>
            </dict>
            <key>trap_forest_boy_r_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>127</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-20</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>463</integer>
            </dict>
            <key>trap_forest_boy_r_0004_Layer-Comp-5.png</key>
            <dict>
                <key>height</key>
                <integer>125</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-21</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>592</integer>
            </dict>
            <key>trap_forest_boy_r_0005_Layer-Comp-6.png</key>
            <dict>
                <key>height</key>
                <integer>145</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-13</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>459</integer>
            </dict>
            <key>trap_forest_boy_r_0006_Layer-Comp-7.png</key>
            <dict>
                <key>height</key>
                <integer>165</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>124</integer>
                <key>y</key>
                <integer>296</integer>
            </dict>
            <key>trap_forest_boy_r_0007_Layer-Comp-8.png</key>
            <dict>
                <key>height</key>
                <integer>161</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>120</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>296</integer>
            </dict>
            <key>trap_forest_boy_r_0008_Layer-Comp-9.png</key>
            <dict>
                <key>height</key>
                <integer>151</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>142</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>143</integer>
            </dict>
            <key>trap_forest_boy_r_0009_Layer-Comp-10.png</key>
            <dict>
                <key>height</key>
                <integer>139</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>160</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>trap_forest_boy_r_0010_Layer-Comp-11 copy 2.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-16</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>848</integer>
            </dict>
            <key>trap_forest_boy_r_0010_Layer-Comp-11 copy 3.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-16</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>848</integer>
            </dict>
            <key>trap_forest_boy_r_0010_Layer-Comp-11 copy 4.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-16</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>848</integer>
            </dict>
            <key>trap_forest_boy_r_0010_Layer-Comp-11 copy.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-16</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>848</integer>
            </dict>
            <key>trap_forest_boy_r_0010_Layer-Comp-11.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-16</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>848</integer>
            </dict>
            <key>trap_forest_boy_r_0011_Layer-Comp-12.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-16</real>
                <key>originalHeight</key>
                <integer>175</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>116</integer>
                <key>x</key>
                <integer>120</integer>
                <key>y</key>
                <integer>840</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>FoxInCageForestRight.png</string>
            <key>size</key>
            <string>{242,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa114644584df76b98c15ffed04ddffb:076f7adcace775245e24b483ef7047c8:2b9f29c14f61c79d516215e53b20ac9a$</string>
            <key>textureFileName</key>
            <string>FoxInCageForestRight.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>967</integer>
            <key>width</key>
            <integer>242</integer>
        </dict>
    </dict>
</plist>
