<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_boy_right_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,460},{112,120}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{112,120}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,574},{112,120}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{112,120}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,688},{112,120}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{112,120}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{112,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{112,128}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{112,124}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,47},{112,124}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{112,144}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{112,144}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,294},{112,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{112,164}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{120,160}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{120,160}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{142,150}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{142,150}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,138}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{160,138}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{112,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_right_0012_Layer-Comp-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,802},{112,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,48},{112,116}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxInCageForestRight.png</string>
            <key>size</key>
            <string>{238,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ecd9c62c3dd56945e68cbac5ab9e090:e1f924f66364f7cdfc7ee26ef585d9a5:a7a7202632e414bff0f1c80a64ce01f0$</string>
            <key>textureFileName</key>
            <string>FoxInCageForestRight.png</string>
        </dict>
    </dict>
</plist>
