<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hidden_trap_boy_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,116}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,116}}</string>
                <key>sourceSize</key>
                <string>{80,134}</string>
            </dict>
            <key>hidden_trap_boy_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{76,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{76,116}}</string>
                <key>sourceSize</key>
                <string>{80,134}</string>
            </dict>
            <key>hidden_trap_boy_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{74,100}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{74,100}}</string>
                <key>sourceSize</key>
                <string>{80,134}</string>
            </dict>
            <key>hidden_trap_boy_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{74,68}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,61},{74,68}}</string>
                <key>sourceSize</key>
                <string>{80,134}</string>
            </dict>
            <key>hidden_trap_boy_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{76,70}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,61},{76,70}}</string>
                <key>sourceSize</key>
                <string>{80,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxInHiddenTrap.png</string>
            <key>size</key>
            <string>{80,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9162cfb5251d2836b2bb27e3f1746e3c:1575655dfc674b3e1763a18eeca09ebe:3ffed6b2e32e099f111a9a000e372ca1$</string>
            <key>textureFileName</key>
            <string>FoxInHiddenTrap.png</string>
        </dict>
    </dict>
</plist>
