<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>man_catch_left_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,126},{160,124}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{160,124}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{170,122}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{170,122}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0002_Layer-Comp-3 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{156,116}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{156,116}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{156,116}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{156,116}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0003_Layer-Comp-4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{144,114}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{144,114}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{144,114}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{144,114}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0004_Layer-Comp-5 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,118},{134,138}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,21},{134,138}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,118},{134,138}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,21},{134,138}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0005_Layer-Comp-6 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{124,146}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{124,146}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{124,146}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{124,146}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0006_Layer-Comp-7 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,128},{120,148}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{120,148}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,128},{120,148}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{120,148}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0007_Layer-Comp-8 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,144}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{146,144}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,144}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{146,144}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0008_Layer-Comp-9 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,120},{148,130}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{148,130}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,120},{148,130}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{148,130}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0009_Layer-Comp-10 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0010_Layer-Comp-11 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,150},{120,74}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,86},{120,74}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,150},{120,74}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,86},{120,74}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0011_Layer-Comp-12 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>man_catch_left_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{120,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{120,76}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxInNetSide.png</string>
            <key>size</key>
            <string>{848,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9422ac2c9748b793ed6545195f0f22a9:83bb2908dd1a11dd0413c2e05bf514b7:9fb9ecf4dfbace1db666dd3a63b516a2$</string>
            <key>textureFileName</key>
            <string>FoxInNetSide.png</string>
        </dict>
    </dict>
</plist>
