<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap_boy_left_snow_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{108,120}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,44},{108,120}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,484},{108,120}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,44},{108,120}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,594},{108,120}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{108,120}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{108,128}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{108,128}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,716},{108,116}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,55},{108,116}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,162},{108,144}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{108,144}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{108,164}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0008_Layer-Comp-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{118,162}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{118,162}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0009_Layer-Comp-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{142,150}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{142,150}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{158,138}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{158,138}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,308},{108,104}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,60},{108,104}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>trap_boy_left_snow_0012_Layer-Comp-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{108,104}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,60},{108,104}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxInCageSnowLeft.png</string>
            <key>size</key>
            <string>{252,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:820def9264ba08d358dced29c9edfe7d:009e787bc2d418d34aae92a854bed6ab:cdf70cabe4f2cdf293abedb2c5493616$</string>
            <key>textureFileName</key>
            <string>FoxInCageSnowLeft.png</string>
        </dict>
    </dict>
</plist>
