<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hidden_trap_snow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>Hidden_trap_snow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>Hidden_trap_snow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>Hidden_trap_snow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>Hidden_trap_snow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HiddenTrapSnowAnimation.png</string>
            <key>size</key>
            <string>{362,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:748c0b320c2944541e2f5c40be0eec82:8d96aa6569854e1f03010db776d11baa:65ac5d00158bcf5c61f24f3b5cf34bbb$</string>
            <key>textureFileName</key>
            <string>HiddenTrapSnowAnimation.png</string>
        </dict>
    </dict>
</plist>
