<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hidden_trap_sand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{90,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>Hidden_trap_sand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{90,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>Hidden_trap_sand_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{90,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>Hidden_trap_sand_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{90,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>Hidden_trap_sand_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{90,70}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HiddenTrapSandAnimation.png</string>
            <key>size</key>
            <string>{362,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e2671a9b61dfc036b2f6d1f68fb090b:9c505b4d7a8916b259d30160930a6f86:7cb37ef3919b2b14569ddd2279e640f7$</string>
            <key>textureFileName</key>
            <string>HiddenTrapSandAnimation.png</string>
        </dict>
    </dict>
</plist>
