<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunter_shooting_back_0000_Layer-Comp-1 copy.png</key>
            <dict>
                <key>height</key>
                <integer>134</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>156</integer>
            </dict>
            <key>hunter_shooting_back_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>134</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>156</integer>
            </dict>
            <key>hunter_shooting_back_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>130</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>72</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>292</integer>
            </dict>
            <key>hunter_shooting_back_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>130</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>72</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>292</integer>
            </dict>
            <key>hunter_shooting_back_0003_Layer-Comp-4 copy.png</key>
            <dict>
                <key>height</key>
                <integer>130</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>72</integer>
                <key>x</key>
                <integer>76</integer>
                <key>y</key>
                <integer>292</integer>
            </dict>
            <key>hunter_shooting_back_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>130</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>72</integer>
                <key>x</key>
                <integer>76</integer>
                <key>y</key>
                <integer>292</integer>
            </dict>
            <key>hunter_shooting_back_0004_Layer-Comp-5 copy.png</key>
            <dict>
                <key>height</key>
                <integer>134</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-12</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>78</integer>
                <key>y</key>
                <integer>156</integer>
            </dict>
            <key>hunter_shooting_back_0004_Layer-Comp-5.png</key>
            <dict>
                <key>height</key>
                <integer>134</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-12</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>78</integer>
                <key>y</key>
                <integer>156</integer>
            </dict>
            <key>hunter_shooting_back_0005_Layer-Comp-6.png</key>
            <dict>
                <key>height</key>
                <integer>152</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>80</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hunter_shooting_back_0006_Layer-Comp-7.png</key>
            <dict>
                <key>height</key>
                <integer>152</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>76</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hunter_shooting_back_0007_Layer-Comp-8 copy.png</key>
            <dict>
                <key>height</key>
                <integer>146</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>156</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hunter_shooting_back_0007_Layer-Comp-8.png</key>
            <dict>
                <key>height</key>
                <integer>146</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>156</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hunter_shooting_back_0008_Layer-Comp-9 copy.png</key>
            <dict>
                <key>height</key>
                <integer>142</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>156</integer>
                <key>y</key>
                <integer>150</integer>
            </dict>
            <key>hunter_shooting_back_0008_Layer-Comp-9.png</key>
            <dict>
                <key>height</key>
                <integer>142</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>156</integer>
                <key>y</key>
                <integer>150</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>HunterShotBack.png</string>
            <key>size</key>
            <string>{232,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67f46f46a0594e5664325ea3ef44a3bd:416368a9617d0db2d7347e8b18622368:de7691ffb1bfa4604adbef911c0de87a$</string>
            <key>textureFileName</key>
            <string>HunterShotBack.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>424</integer>
            <key>width</key>
            <integer>232</integer>
        </dict>
    </dict>
</plist>
