<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunter_walk_front_0000_Layer-Comp-1.png</key>
            <dict>
                <key>height</key>
                <integer>134</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>74</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>136</integer>
            </dict>
            <key>hunter_walk_front_0001_Layer-Comp-2.png</key>
            <dict>
                <key>height</key>
                <integer>132</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>74</integer>
                <key>width</key>
                <integer>74</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hunter_walk_front_0002_Layer-Comp-3.png</key>
            <dict>
                <key>height</key>
                <integer>134</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>74</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>272</integer>
            </dict>
            <key>hunter_walk_front_0003_Layer-Comp-4.png</key>
            <dict>
                <key>height</key>
                <integer>132</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>74</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>408</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>HunterWalkFront.png</string>
            <key>size</key>
            <string>{78,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:398d34a60cdb04fd56ba8a603358200a:0d7e4fc5c39c3c8eeb29b20b5f068c29:7a8054c1f172dea2c05f09727525611e$</string>
            <key>textureFileName</key>
            <string>HunterWalkFront.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>542</integer>
            <key>width</key>
            <integer>78</integer>
        </dict>
    </dict>
</plist>
