<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunter_without_walk_back_0000_Layer-Comp-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{66,132}</string>
                <key>spriteSourceSize</key>
                <string>{72,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_walk_back_0001_Layer-Comp-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{64,130}</string>
                <key>spriteSourceSize</key>
                <string>{72,134}</string>
                <key>textureRect</key>
                <string>{{69,1},{64,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter_without_walk_back_0002_Layer-Comp-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{66,132}</string>
                <key>spriteSourceSize</key>
                <string>{72,134}</string>
                <key>textureRect</key>
                <string>{{1,135},{66,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunter_without_walk_back_0003_Layer-Comp-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{64,130}</string>
                <key>spriteSourceSize</key>
                <string>{72,134}</string>
                <key>textureRect</key>
                <string>{{135,1},{64,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HunterWithoutWalkBack.png</string>
            <key>size</key>
            <string>{200,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f751a95c92ca17ca0870bee428ef344:6e8654e67c2ac1516d44931260313c4c:adbb353054f6314d19cbb10b7b36f208$</string>
            <key>textureFileName</key>
            <string>HunterWithoutWalkBack.png</string>
        </dict>
    </dict>
</plist>
