<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>foxie_happy_01.png</key>
            <dict>
                <key>height</key>
                <integer>105</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>151</integer>
                <key>originalWidth</key>
                <integer>162</integer>
                <key>width</key>
                <integer>160</integer>
                <key>x</key>
                <integer>144</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>foxie_happy_02.05.png</key>
            <dict>
                <key>height</key>
                <integer>109</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>151</integer>
                <key>originalWidth</key>
                <integer>162</integer>
                <key>width</key>
                <integer>140</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>LevelClearedAnim.png</string>
            <key>size</key>
            <string>{306,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d2e61891ca12548139e696772509255:08438873e25cdbb911c1cd5d3b22baf2:674c1f414648956c23595d6a914c4c5d$</string>
            <key>textureFileName</key>
            <string>LevelClearedAnim.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>113</integer>
            <key>width</key>
            <integer>306</integer>
        </dict>
    </dict>
</plist>
