<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_win_001_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{127,142}</string>
                <key>spriteSourceSize</key>
                <string>{269,198}</string>
                <key>textureRect</key>
                <string>{{1226,1},{127,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_win_002_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{127,142}</string>
                <key>spriteSourceSize</key>
                <string>{269,198}</string>
                <key>textureRect</key>
                <string>{{1355,1},{127,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_win_003_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{151,146}</string>
                <key>spriteSourceSize</key>
                <string>{269,198}</string>
                <key>textureRect</key>
                <string>{{1078,1},{151,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_win_004_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{171,150}</string>
                <key>spriteSourceSize</key>
                <string>{269,198}</string>
                <key>textureRect</key>
                <string>{{926,1},{171,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_win_005_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{197,166}</string>
                <key>spriteSourceSize</key>
                <string>{269,198}</string>
                <key>textureRect</key>
                <string>{{525,1},{197,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_win_006_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{231,182}</string>
                <key>spriteSourceSize</key>
                <string>{269,198}</string>
                <key>textureRect</key>
                <string>{{693,1},{231,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_win_007_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{251,198}</string>
                <key>spriteSourceSize</key>
                <string>{269,198}</string>
                <key>textureRect</key>
                <string>{{272,1},{251,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_win_008_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,198}</string>
                <key>spriteSourceSize</key>
                <string>{269,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NotEnoughDlgAnim.png</string>
            <key>size</key>
            <string>{1483,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:853c5afbc615b6e5fb8e4f2f5a642b6c:4c7b7353533694ba386857308a9d6b55:0f966b0d65d650290629225b32c1c9ea$</string>
            <key>textureFileName</key>
            <string>NotEnoughDlgAnim.png</string>
        </dict>
    </dict>
</plist>
