<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hidden_girl_trap_spirit_0010_Layer-Comp-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{64,131}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{64,131}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0011_Layer-Comp-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{62,63}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,61},{62,63}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0012_Layer-Comp-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,73}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,57},{74,73}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpiritGirlHide.png</string>
            <key>size</key>
            <string>{275,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:344757524281d13fce354954ca62bd72:dabe632727b6027bd345ea7c88b803b1:9df23e1abf0185883ada4b79b9aa8707$</string>
            <key>textureFileName</key>
            <string>SpiritGirlHide.png</string>
        </dict>
    </dict>
</plist>
