<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hidden_girl_trap_spirit_0007_Layer-Comp-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{66,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,133}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,98},{10,15}}</string>
                <key>offset</key>
                <string>{-4,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,120},{10,15}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,98},{20,41}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,96},{20,41}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,70},{22,51}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,82},{22,51}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,70},{26,63}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,72},{26,63}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,70},{38,45}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,58},{38,45}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{42,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,42},{42,61}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
            <key>hidden_girl_trap_spirit_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,77}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{58,77}}</string>
                <key>sourceSize</key>
                <string>{78,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpiritGirlAppear.png</string>
            <key>size</key>
            <string>{197,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6560247534bfc1455273c25944aa7812:a833b3d3e696876335bf405f29885c2d:93e0e0c016b377cfe8b73842d06a1119$</string>
            <key>textureFileName</key>
            <string>SpiritGirlAppear.png</string>
        </dict>
    </dict>
</plist>
