<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tornado_0000_Layer-Comp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{94,108}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{94,108}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0001_Layer-Comp-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{90,104}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{90,104}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0002_Layer-Comp-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{84,100}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{84,100}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0003_Layer-Comp-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{104,102}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{104,102}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0004_Layer-Comp-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{84,100}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{84,100}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0005_Layer-Comp-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{88,100}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{88,100}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>tornado_0006_Layer-Comp-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,114}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{104,114}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TornadoSandAnimation.png</string>
            <key>size</key>
            <string>{686,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e84ccb4b8a4591a8e3df8924d028adef:411116cc2a3eadf50103959f09cd3093:95539e68091a9a7c6dd2f0b601e000dc$</string>
            <key>textureFileName</key>
            <string>TornadoSandAnimation.png</string>
        </dict>
    </dict>
</plist>
